@import "variables";

.ms-section {
  position: relative;
  width: 100%;
  background-color: #FAFAFA;
  //overflow-x: hidden;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    &::selection {
      background: transparent;
    }
  }
  .section-bg {
    position: absolute;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}



// Containers
.cn {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  @media (min-width: $sm) {
    max-width: 540px;
  }
  @media (min-width: $md) {
    max-width: 720px;
  }
  @media (min-width: $lg) {
    max-width: 960px;
  }
  @media (min-width: $xl) {
    max-width: 1270px;
  }
  &--wide {
    @media (min-width: 1400px) {
      max-width: 1380px;
    }
  }
}


.line-decor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &--red {
    background-image: url("../images/icons/decor-line-red.svg");
  }
  &--white {
    background-image: url("../images/icons/decor-line-white.svg");
  }
  &--big {
    width: 140px;
    height: 7px;
    @media (min-width: $lg) {
      width: 190px;
      height: 9px;
    }
  }
  &--small {
    width: 140px;
    height: 7px;
  }
}

