@import "variables";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 0;
  text-align: center;
  transition: $main-transition;
  text-decoration: none;
  background: none;
  padding: 0;
  cursor: pointer;
  .icon {
    width: 24px;
    &:first-child {
      margin-left: -10px;
    }
    &:last-child {
      margin-right: -10px;
    }
    svg {
      display: block;
      width: 100%;
      transition: $main-transition;
    }
  }
}

.btn-1 {
  height: 48px;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background-color: $red;
  border: 2px solid $red;
  padding: 0 32px;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    color: $red;
    background-color: transparent;
  }
}

.btn-2 {
  height: 48px;
  color: $red;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.36px;
  border-radius: 8px;
  border: 2px solid $red;
  padding: 0 24px;
  .icon {
    svg {
      fill: $red;
    }
  }
  &:hover {
    color: $white;
    background-color: $red;
  }
}

.btn-3 {
  height: 40px;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.09px;
  border-radius: 5px;
  background-color: $red;
  border: 2px solid $red;
  padding: 0 16px;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

.btn-4 {
  height: 48px;
  color: $red;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.09px;
  border-radius: 5px;
  border: 2px solid $red;
  padding: 0 16px;
  .icon {
    svg {
      fill: $red;
    }
  }
  &:hover {
    color: $white;
    background-color: $red;
    .icon {
      svg {
        fill: $white;
      }
    }
  }
}

.btn-5 {
  height: 48px;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.09px;
  border-radius: 5px;
  background-color: $red;
  border: 2px solid $red;
  padding: 0 32px;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

.btn-6 {
  height: 48px;
  color: $red;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.09px;
  border-radius: 5px;
  border: 2px solid $white;
  background-color: $white;
  padding: 0 32px;
  .icon {
    svg {
      fill: $red;
    }
  }
  &:hover {
    color: $white;
    background-color: transparent;
    .icon {
      svg {
        fill: $white;
      }
    }
  }
}

.btn-7 {
  height: 48px;
  color: #2C0D0D;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.107px;
  border-radius: 5px;
  background-color: rgba($white,.5);
  padding: 0 16px;
  .icon {
    svg {
      fill: #5D171B;
    }
  }
  &:hover {
    color: $white;
    background-color: $red;
    .icon {
      svg {
        fill: $white;
      }
    }
  }
}

.btn-8 {
  height: 40px;
  color: $orange;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.09px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid $orange;
  padding: 0 16px;
  .icon {
    svg {
      fill: $orange;
    }
  }
  &:hover {
    color: $white;
    background-color: $orange;
    .icon {
      svg {
        fill: $white;
      }
    }
  }
}

.btn-9 {
  height: 48px;
  color: $white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  border-radius: 8px;
  border: 2px solid $red;
  background-color: $red;
  padding: 0 16px;
  .icon {
    margin: 0 10px 0 0!important;
    svg {
      fill: $white;
    }
  }
  &:hover {
    color: $red;
    background-color: transparent;
    .icon {
      svg {
        fill: $red;
      }
    }
  }
}

.btn-10 {
  height: 48px;
  color: rgba(#133240,.5);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.107px;
  border-radius: 5px;
  border: 2px solid rgba(#133240,.5);
  background-color: transparent;
  padding: 0 16px;
  .icon {
    svg {
      fill: rgba(#aaaaaa,.5);
    }
  }
  &:hover {
    color: $orange;
    border-color: $orange;
    .icon {
      svg {
        fill: $orange;
      }
    }
  }
}