@import "variables";

html, body {
  height: 100%;
}

body ::selection {
  color: #fff;
  background: #000;
}

button {
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  &::selection {
    background: transparent;
  }
}

.ms-section {
  position: relative;
  width: 100%;
  //overflow-x: hidden;
  .section-bg {
    position: absolute;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}



// Containers
.cn {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  @media (min-width: $sm) {
    max-width: 540px;
  }
  @media (min-width: $md) {
    max-width: 720px;
  }
  @media (min-width: $lg) {
    max-width: 960px;
  }
  @media (min-width: $xl) {
    max-width: 1270px;
  }
  &--small {
    @media (min-width: $xl) {
      max-width: 1050px;
    }
  }
  &--big {
    @media (min-width: 1400px) {
      max-width: 1380px;
    }
  }
}

