@import "variables";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 44px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  border: none;
  border-radius: 6px;
  text-align: center;
  transition: $main-transition;
  text-decoration: none;
  background: none;
  padding: 0 24px;
  cursor: pointer;
  user-select: none;
  .icon {
    svg {
      display: block;
      transition: $main-transition;
    }
  }
}

.btn-1 {
  color: $white;
  background-color: $red;
  border: 2px solid $red;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    color: $red;
    background-color: transparent;
  }
}



.btn-2 {
  color: $red;
  font-weight: 700;
  border: 2px solid $red;
  .icon {
    svg {
      fill: $red;
    }
  }
  &:hover {
    color: $white;
    background-color: $red;
    .icon {
      svg {
        fill: $white;
      }
    }
  }

}

.btn-3 {
  color: $white;
  background-color: $red;
  border: 2px solid $red;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

.btn-4 {
  color: $red;
  background-color: rgba($white,.5);
  .icon {
    svg {
      fill: #2C0D0D;
    }
  }
  &:hover {
    color: $white;
    background-color: $red;
    .icon {
      svg {
        fill: $white;
      }
    }
  }
}

.btn-5 {
  color: $red;
  border: 2px solid $white;
  background-color: $white;
  .icon {
    svg {
      fill: $red;
    }
  }
  &:hover {
    color: $white;
    background-color: transparent;
    .icon {
      svg {
        fill: $white;
      }
    }
  }
}

.btn-6 {
  color: $white;
  border: 2px solid $red;
  background-color: $red;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    color: $red;
    background-color: transparent;
    .icon {
      svg {
        fill: $red;
      }
    }
  }
}

.btn-7 {
  color: rgba(#133240,.5);
  border: 2px solid rgba(#133240,.5);
  background-color: transparent;
  .icon {
    svg {
      fill: #aaaaaa;
    }
  }
  &:hover {
    color: $red;
    border-color: $red;
    .icon {
      svg {
        fill: $red;
      }
    }
  }
}

.btn-8 {
  color: $white;
  background-color: $red;
  border: 2px solid $red;
  .icon {
    svg {
      fill: $white;
    }
  }
  &:hover {
    color: $red;
    background-color: transparent;
  }
}

.btn-quote {
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  small {
    display: block;
    width: 100%;
    font-size: 12px;
  }
}


.reset-vehicle {
  position: fixed;
  right: 50%;
  bottom: 0;
  z-index: 2;
  transform: translateX(50%);

  display: inline-flex;
}
