@import "../base/variables";

// Product Page
.woocommerce.single-product {
  //max-width: $max-width;
  //margin: 0 auto;
  //padding: $container-padding;

  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //gap: 2rem;

    .product-images {
      flex: 1;
      max-width: 48%;

      img {
        width: 100%;
        border-radius: $border-radius;
      }
    }

    .summary {
      flex: 1;
      max-width: 48%;

      .product-title {
        font-size: 2rem;
        font-weight: bold;
        color: $secondary-color;
        margin-bottom: 1rem;
      }

      .price {
        font-size: 1.5rem;
        color: $primary-color;
        margin-bottom: 1rem;
      }



      .woocommerce-product-details__short-description {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }

      form.cart {
        margin-top: 1rem;
      }

      .qib-button-wrapper {
        margin-right: 15px;
      }
      .woocommerce-variation-add-to-cart,
      .single_add_to_cart_button {
        color: $white;
        background-color: $red;
        border: 2px solid $red;
        padding: 0 1.5rem;
        border-radius: $border-radius;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;

        height: 44px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.36px;

        &:hover {
          color: $red;
          background-color: transparent;
        }
      }


      .product_meta {
        font-size: 0.9rem;
        color: $text-color;
        margin-top: 1.5rem;

        a {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }

    .woocommerce-tabs {
      width: 100%;
      margin-top: 2rem;

      ul.wc-tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; // Stack tabs vertically on mobile
        border-bottom: 1px solid #E1E8ED;
      }

      ul.wc-tabs li {
        margin: 0;
        border: 1px solid #E1E8ED;
        border-bottom: none;
        background-color: #fff;

        &.active {
          background-color: $secondary-color;
          color: #fff;
          border-bottom: 1px solid $secondary-color; // Seamlessly connect with the tab content
        }

        a {
          display: block;
          padding: 1rem;
          font-size: 1rem;
          color: #fff;
          text-decoration: none;
          text-align: left;

          &:hover,
          &.active {
            color: #fff; // Primary color on hover/active
          }
        }
        &:hover {
          background-color: darken($secondary-color, 15%);
        }
      }


      .woocommerce-Tabs-panel {
        padding: 1.5rem;
        border: 1px solid #E1E8ED;
        background-color: #fff;
        margin-top: -1px; // Overlap with the active tab
        border-radius: 0 0 8px 8px;
      }
    }

    @media (min-width: 768px) {
      .woocommerce-tabs {
        ul.wc-tabs {
          flex-direction: row; // Align tabs horizontally on larger screens
        }

        ul.wc-tabs li {
          border-right: 1px solid #E1E8ED; // Separate tabs visually
          border-bottom: 1px solid transparent; // Remove the bottom border to avoid double borders
        }

        ul.wc-tabs li:last-child {
          //border-right: none; // Remove the right border from the last tab
        }
      }
    }

  }

  .related.products {
    margin-top: 4rem;

    & > h2 {
      //font-size: 1.75rem;
      //color: $secondary-color;
      margin-bottom: 2rem;
    }

    ul.products {
      //display: grid;
      //grid-template-columns: repeat(4, 1fr);
      //gap: 2rem;
    }
  }
}
