@import "../base/variables";

//vehicles
.s-vehicles {
  &__head {
    background-color: #0F1A2D;
    padding: 38px 0;
    .section-heading {
      text-align: center;
      margin-bottom: 30px;
      .title {
        color: $white;
        margin-bottom: 7px;
      }
      .subtitle {
        color: $white;
        font-size: 18px;
        line-height: 150%;
      }
    }
    .vehicles-search {
      max-width: 980px;
      border-radius: 8px;
      background-color: $white;
      margin: 0 auto;
      padding: 15px 23px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 87px 0;
    .vehicle-card {
      .img {
        display: block;
        position: relative;
        border-radius: 6px 6px 0 0;
        background-color: #EDECEC;
        overflow: hidden;
        padding-bottom: 70%;
        margin-bottom: 22px;
        img {
          position: absolute;
          width: 100%;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .brand {
        color: #444;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 8px;
      }
      .model {
        color: #000;
        font-size: 24px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 8px;
      }
      .info {
        color: #444;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 22px;
      }
      .btn {
        width: 100%;
      }
    }
  }
}

//specialists reviews
.s-specialists-reviews {
  background-color: $dark-blue;
  padding: 90px 0 105px;
  .section-bg {
    top: 0;
    right: 0;
    left: 0;
  }
  .section-heading {
    text-align: center;
    margin-bottom: 50px;
    .small-title {
      color: #F8F5F5;
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 25px;
    }
    .line-decor {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .title {
      color: $white;
      margin-bottom: 25px;
    }
    .subtitle {
      color: #EEE;
      font-size: 24px;
      line-height: 1.5;
    }
  }
  .sr-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 30px;
    border-radius: 8px;
    border: 1px solid #5F5B5A;
    background-color: #091322;
    padding: 50px 42px;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      .sr-item__img {
        order: 2;
      }
      .sr-item__content {
        order: 1;
      }
    }
    &__img {
      position: relative;
      border-radius: 8px 0 0 8px;
      padding-bottom: 60%;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      align-self: center;
      .title {
        color: $white;
        margin-bottom: 15px;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 15px;
        .tag {
          height: 28px;
          color: $white;
          font-size: 16px;
          line-height: 28px;
          border-radius: 3px;
          background: #384573;
          padding: 0 10px;
        }
      }
      .desc {
        color: #aaa;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 25px;
      }
    }
  }
}

//banner
.s-banner-1 {
  background-color: $dark-blue;
  clip-path: polygon(-70px -50%, 200% -50%, 200% calc(100% + 50%), -70px calc(100% + 50%));
}

.s-banner-2 {

}

//services
.s-services-1 {
  background: #EFEFEF;
  &__head {
    position: relative;
    padding: 120px 0 210px;
    .section-bg {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-heading {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      gap: 60px 100px;
      .title {
        color: $white;
      }
      .subtitle {
        color: #EEE;
        font-size: 18px;
        line-height: 150%;
      }
      .small-title-wrap {
        display: flex;
        align-items: center;
        gap: 20px 15px;
        .small-title {
          color: $white;
          font-size: 24px;
          line-height: 120%;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    position: relative;
    margin-top: -170px;
    padding-bottom: 170px;
    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      background: $white;
      box-shadow: 3px 13px 25px 0 rgba(0, 0, 0, 0.10);
      text-align: center;
      padding: 20px;
      .img {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 16px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        color: $black;
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 21px;
      }
      .desc {
        color: #444;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 29px;
      }
      .btn {
        margin-top: auto;
      }
    }
  }
}

//products
.s-products {
  &.style-1 {

  }
  &.style-2 {

  }
}

//testimonials
.s-testimonials {

}