@import "../base/variables";

//vehicles
.s-vehicles {
  &__head {
    background-color: #0F1A2D;
    padding: 38px 0;
    .section-heading {
      text-align: center;
      margin-bottom: 30px;
      .title {
        color: $white;
        margin-bottom: 7px;
      }
      .subtitle {
        color: $white;
        font-size: 18px;
        line-height: 150%;
      }
    }
    .vehicles-search {
      max-width: 980px;
      border-radius: 8px;
      background-color: $white;
      margin: 0 auto;
      padding: 15px 23px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 87px 0;
    .vehicle-card {
      .img {
        display: block;
        position: relative;
        border-radius: 6px 6px 0 0;
        background-color: #EDECEC;
        overflow: hidden;
        padding-bottom: 70%;
        margin-bottom: 22px;
        img {
          position: absolute;
          width: 100%;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .brand {
        color: #444;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 8px;
      }
      .model {
        color: #000;
        font-size: 24px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 8px;
      }
      .info {
        color: #444;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 22px;
      }
      .btn {
        width: 100%;
      }
    }
  }
}

//specialists reviews
.s-specialists-reviews {
  background-color: $dark-blue;
  padding: 90px 0 105px;
  .section-bg {
    top: 0;
    right: 0;
    left: 0;
  }
  .section-heading {
    text-align: center;
    margin-bottom: 50px;
    .small-title {
      color: #F8F5F5;
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 25px;
    }
    .line-decor {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .title {
      color: $white;
      margin-bottom: 25px;
    }
    .subtitle {
      color: #EEE;
      font-size: 24px;
      line-height: 1.5;
    }
  }
  .sr-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 30px;
    border-radius: 8px;
    border: 1px solid #5F5B5A;
    background-color: #091322;
    padding: 50px 42px;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      .sr-item__img {
        order: 2;
      }
      .sr-item__content {
        order: 1;
      }
    }
    &__img {
      position: relative;
      border-radius: 8px 0 0 8px;
      padding-bottom: 60%;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      align-self: center;
      .title {
        color: $white;
        margin-bottom: 15px;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 15px;
        .tag {
          height: 28px;
          color: $white;
          font-size: 16px;
          line-height: 28px;
          border-radius: 3px;
          background: #384573;
          padding: 0 10px;
        }
      }
      .desc {
        color: #aaa;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 25px;
      }
    }
  }
}

//banner
.s-banner-1 {
  background-color: $dark-blue;
  padding: 65px 0;
  &__img {
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: 0;
    width: calc(50% + 55px);
    filter: drop-shadow(0px 13px 22.2px rgba(0, 0, 0, 0.25));
    z-index: 1;
    .img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      clip-path: polygon(0 0, 100% 0, calc(100% - 85px) 100%, 0 100%);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__content {
    padding-left: calc(50% + 100px);
    .section-heading {
      margin-bottom: 25px;
      .title {
        color: $white;
      }
    }
    .list {
      margin-bottom: 40px;
      li {
        color: $white;
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.s-banner-2 {
  background-color: #840E0F;
  padding: 60px 0;
  .section-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  &__left {
    .small-title {
      color: $white;
      font-size: 24px;
      font-weight: 700;
      line-height: 150%;
      margin-bottom: 30px;
    }
    .line-decor {
      margin-bottom: 30px;
    }
    .title {
      max-width: 550px;
      color: $white;
      margin: 0;
    }
  }
  &__right {
    .numbers {
      display: flex;
      gap: 18px 60px;
      margin-bottom: 30px;
      .item {
        color: $white;
        .title {
          display: flex;
          align-items: center;
          color: $white;
          font-size: 50px;
          font-weight: 700;
          line-height: 120%;
          margin-bottom: 3px;
          .icon {
            width: 35px;
            img {
              width: 100%;
            }
          }
        }
        .desc {
          color: $white;
          font-size: 20px;
          line-height: 150%;
        }
      }
    }
    .text {
      color: $white;
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 35px;
    }
  }
}

//services
.s-services-1 {
  background: #EFEFEF;
  &__head {
    position: relative;
    padding: 120px 0 210px;
    .section-bg {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-heading {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      gap: 60px 100px;
      .title {
        color: $white;
      }
      .subtitle {
        color: #EEE;
        font-size: 18px;
        line-height: 150%;
      }
      .small-title-wrap {
        display: flex;
        align-items: center;
        gap: 20px 15px;
        .small-title {
          color: $white;
          font-size: 24px;
          line-height: 120%;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    position: relative;
    margin-top: -170px;
    padding-bottom: 170px;
    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      background: $white;
      box-shadow: 3px 13px 25px 0 rgba(0, 0, 0, 0.10);
      text-align: center;
      padding: 20px;
      .img {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 16px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        color: $black;
        font-size: 24px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 21px;
      }
      .desc {
        color: #444;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 29px;
      }
      .btn {
        margin-top: auto;
      }
    }
  }
}

//products
.s-products {
  padding: 120px 0;
  &.style-1 {
    .section-heading {
      text-align: center;
      margin-bottom: 45px;
      .small-title {
        color: #444;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 25px;
      }
      .line-decor {
        margin: 0 auto 45px;
      }
      .title {
        margin-bottom: 9px;
      }
      .subtitle {
        color: rgba(44, 45, 54, 0.80);
        font-size: 20px;
        line-height: 150%;
      }
    }
  }
  &.style-2 {

  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px 60px;
    .product-card {
      display: flex;
      flex-direction: column;
      &__img {
        flex-shrink: 0;
        display: block;
        position: relative;
        border-radius: 8px 8px 0 0;
        background-color: #E1E8ED;
        overflow: hidden;
        padding-bottom: 85%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 8px 8px;
        border: 1px solid #E1E8ED;
        border-top: none;
        background-color: $white;
        padding: 7px 15px 25px;
        .title {
          color: $black;
          font-size: 20px;
          font-weight: 700;
          line-height: 150%;
          margin-bottom: 9px;
        }
        .years {
          color: #444;
          font-size: 18px;
          line-height: 150%;
          margin-bottom: 16px;
        }
        .btn-group {
          margin-top: auto;
          .btn {
            width: 100%;
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .section-btn {
    text-align: center;
    margin-top: 45px;
  }
}

//testimonials
.s-testimonials {

}