@import "../base/variables";

body.logged-in {
  //padding-top: 36px;
  .header {
    top: 36px;
    &__nav {
        top: 102px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $white;
  border-bottom: 1px solid #F3F4F6;
  z-index: 15;
  @media (min-width: $lg) {
    border-bottom: none;
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 75px;
    @media (min-width: $lg) {
      justify-content: space-between;
      height: auto;
    }
  }
  &__logo {
    flex-shrink: 0;
    width: 145px;
    margin-right: auto;
    @media (min-width: $sm) {
      width: 163px;
    }
    @media (min-width: $lg) {
      margin-right: 0;
    }
    @media (min-width: $xl) {
      width: 209px;
    }
    a {
      display: block;
    }
    img {
      width: 100%;
    }
  }
  &__nav {
    display: none;
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FBFBFB;
    padding: 10px 0 0;
    @media (max-width: 991px) {
      overflow-y: auto;
      overflow-x: clip;
    }
    @media (min-width: $lg) {
      display: block;
      position: static;
      height: auto;
      background-color: transparent;
      padding: 0;
    }
    .cn {
      @media (min-width: $lg) {
        max-width: none;
        width: auto;
        margin: 0;
        padding: 0;
      }
    }
    ul {
      list-style: none;
    }
    .main-menu {
      @media (min-width: $lg) {
        display: flex;
        gap: 24px;
      }
      @media (min-width: $xl) {
        gap: 45px;
      }
      >li {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media (min-width: $lg) {
          display: block;
          &:has(.icon),
          &.menu-item-has-children {
            >a {
              position: relative;
              padding-right: 24px;

              &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: rotate(0) translate(0, -50%);

                display: block;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70711 8.29289C6.31658 7.90237 5.68342 7.90237 5.29289 8.29289C4.90237 8.68342 4.90237 9.31658 5.29289 9.70711L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L18.7071 9.70711C19.0976 9.31658 19.0976 8.68342 18.7071 8.29289C18.3166 7.90237 17.6834 7.90237 17.2929 8.29289L12 13.5858L6.70711 8.29289Z' fill='%232D3648'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }

          &:hover {
            >a {
              color: $red;
              &:after {
                transform: rotate(180deg) translate(0, 50%);
                background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70711 8.29289C6.31658 7.90237 5.68342 7.90237 5.29289 8.29289C4.90237 8.68342 4.90237 9.31658 5.29289 9.70711L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L18.7071 9.70711C19.0976 9.31658 19.0976 8.68342 18.7071 8.29289C18.3166 7.90237 17.6834 7.90237 17.2929 8.29289L12 13.5858L6.70711 8.29289Z' fill='%239C0003'/%3E%3C/svg%3E");
              }
            }
            .icon {
              svg {
                fill: $red;
                transform: rotate(180deg);
              }
            }
            >ul {
              opacity: 1;
              visibility: visible;
              transform: none;
            }
          }
        }
        &.active,
        &.current-menu-item{
          >a {
            color: $red;
            &:after {
              transform: rotate(180deg) translate(0, 50%);
              background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70711 8.29289C6.31658 7.90237 5.68342 7.90237 5.29289 8.29289C4.90237 8.68342 4.90237 9.31658 5.29289 9.70711L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L18.7071 9.70711C19.0976 9.31658 19.0976 8.68342 18.7071 8.29289C18.3166 7.90237 17.6834 7.90237 17.2929 8.29289L12 13.5858L6.70711 8.29289Z' fill='%239C0003'/%3E%3C/svg%3E");
            }
          }
          .icon {
            svg {
              fill: $red;
              transform: rotate(180deg);

            }
          }
        }
        .icon {
          width: 24px;
          @media (min-width: $lg) {
            position: absolute;
            top: 50%;
            right: 0;
            width: 24px;
            margin-top: -12px;
            pointer-events: none;
          }
          svg {
            display: block;
            width: 100%;
            height: auto;
            fill: #2D3648;
            transition: $main-transition;
          }
        }
        &:after {
          position: absolute;
          content: '';
          top: 100%;
          left: -50vw;
          right: -50vw;
          height: 1px;
          background-color: #ECECEC;
          @media (min-width: $lg) {
            display: none;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        >a {
          color: $dark-blue;
          font-size: 18px;
          font-weight: 600;
          line-height: 58px;
          @media (min-width: $lg) {
            font-family: $font-lato;
            color: $black;
            font-size: 16px;
            line-height: 85px;
          }
        }
        >ul {
          display: none;
          background-color: #F2F2F2;
          width: calc(100% + 30px);
          margin-left: -15px;
          margin-right: -15px;
          padding: 23px 15px;
          @media (min-width: $sm) {
            width: calc(100% + 100vw);
            margin-left: -50vw;
            margin-right: -50vw;
            padding: 23px 0;
          }
          @media (min-width: $lg) {
            display: block;
            position: absolute;
            top: 100%;
            left: -20px;
            width: auto;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 0 10px 0 rgba(132, 132, 132, .15);
            transition: $main-transition;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            padding: 20px;
            margin: 0;
          }
          >li {
            width: 100%;
            min-width: 200px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: $sm) {
              max-width: 510px;
            }
            @media (min-width: $md) {
              max-width: 690px;
            }
            @media (min-width: $lg) {
              width: auto;
              max-width: none;
              margin-bottom: 13px;
              margin-left: 0;
              margin-right: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
            >a {
              color: $dark-blue-2;
              font-size: 16px;
              white-space: nowrap;
              &:hover {
                color: $red;
              }
            }
          }
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  &__action {
    .btn {
      flex-shrink: 0;
      font-size: 16px;
      white-space: nowrap;
      padding: 0 10px;
      @media (min-width: $sm) {
        font-size: 18px;
        padding: 0 24px;
      }
    }
  }
}

.toggle-menu {
  display: flex;
  position: relative;
  width: 30px;
  height: 21px;
  @media (min-width: $lg) {
    display: none;
  }
  &.active {
    &:before,
    &:after {
      top: 9px;
      opacity: 0;
      transition-delay: 0s;
    }
    span {
      transition-delay: .3s;
      &:first-child {
        transform: rotate(-45deg);
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
  }
  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: $dark-blue-2;
    transition: $main-transition;
    transition-delay: .3s;
  }
  &:before {
    top: 0;
  }
  &:after {
    top: 18px;
  }
  span {
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: $dark-blue-2;
    transition: $main-transition;
  }
}
