/* - Popups */
.mfp-gallery {
    .mfp-figure {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        position: relative;
        max-width: 100%;
        cursor: pointer;
        img {
        display: block;
        line-height: 0;
        max-width: 100%;
        height: auto;
        }
        &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s;
        }
        &:hover {
        &:after {
            opacity: 1;
        }
        }
    }
}

.popup-gallery {

}

.popup-box {
  margin: 30px auto;
  width: 520px;
  background: $background-color;
  position: relative;
  padding: 0;
  @media (max-width: 720px) {
    width: 440px;
  }
  @media (max-width: 480px) {
    width: 320px;
  }

  .image {
    height: 560px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    img {
      width: 100%;
      height: auto;
      transform: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
    }
  }

  .desc {
    padding: 35px;
  }

  .category {
    margin: 0 0 5px 0;
    display: block;
    font-size: 14px;
    color: #bbb;
    h4 {
      margin: 0 0 15px 0;
      display: block;
      font-size: 24px;
      font-weight: 600;
      color: $white;
    }
  }

  &__content {
    //box-shadow: 5px 5px 40px 48px #282828;
    box-shadow: 3px 3px 48px 7px #282828;
  }

  .heading {
    margin-bottom: 50px;
    .h2 {
      margin-bottom: 15px;
    }

    & + .content-inner {
      max-width: 590px;
      margin: 0 auto;

      .group-bts {
        .btn {
          margin: 0 auto;
          width: auto;
          min-width: 320px;
        }
      }
    }
  }
}

.popup-inline {
  @media (min-width: 1200px) {
    width: 992px;
  }

  .content {

  }

  &.style-2 {
    max-width: 660px;
    .content {
      background: linear-gradient(111.1deg, #3A3A3A -36.71%, #0D0D0D 100%);
      box-shadow: 0px 34px 50px rgba(0, 0, 0, 0.4);

    }
  }
}
.popup-thankYou {
  .content {
    box-shadow: 3px 3px 48px 7px #282828;
  }
  .content-inner {
    text-align: center;
    a.btn {
      margin-top: 60px;
    }
  }
  .content-image {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    width: 55px;
    svg, img {
      max-width: 100%;
    }
  }
}



.mfp-fade {
  &.mfp-bg {

    opacity: 0;
    transition: all 0.15s ease-out;
  }
  // overlay animate in
  &.mfp-bg.mfp-ready {
    opacity: 1;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.94), rgba(15, 15, 15, 0.94));
  }
  // overlay animate out */
  &.mfp-bg.mfp-removing {
    opacity: 0;
  }
  // content at start */
  &.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.15s ease-out;
  }
  // content animate it */
  &.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  // content animate out */
  &.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }
}



